@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{
  color: $color-maintext;
  font-family: 'effra', 'Noto Sans Japanese', sans-serif;
  font-weight: 200;
  background-color: #FAFAFA;
}
